
<html>
  <head>
    <title>Console Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="x5-orientation" content="portrait">
    <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
  </head>
  <body ng-app="app">
    <nav>
      <div class="nav-container">
        <div class="nav-logo">
          <a href="#"><strong>Console Manager</strong></a>
        </div>
      </div>
    </nav>
    <main ng-controller="MainCtl">
      <div class="container">
        <div class="row row-reverse">

          <div class="col col-lg-6">
            <section>
              <h1 class="h2">Scripts</h1>
              <button ng-click="create()" class="button-success button-small"> Create</button>

              <div class="modal-mask" ng-if="editor.visible">
                <div class="modal">
                  <div class="modal-head" ng-if="!editor.isCreate">
                    <p class="modal-title" ng-bind="editor.title"></p>
                  </div>
                  <div class="modal-body">
                    <div class="form-control" ng-if="editor.isCreate">
                      <label>Script Name</label>
                      <input type="text" placeholder="test.sh" ng-model="editor.title"/>
                    </div>
                    <div class="form-control">
                      <label>Script Content</label>
                      <textarea rows="20" cols="70" placeholder="Enter some text..." ng-model="editor.content"></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="button-primary" ng-click="save()">Save</button>
                    <button class="button-info" ng-click="close()">Close</button>
                  </div>
                </div>
              </div>

              <table>
                <thead>
                  <tr>
                    <th>File Name</th>
                    <th>Operate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="script in scripts">
                    <td><strong ng-bind="script"> <strong</td>
                    <td>
                      <button ng-click="run(script)" class="button-primary-outlined button-small button-round">Run</button>
                      <button ng-click="edit(script)" class="button-primary-outlined button-small button-round">Edit</button>
                      <button ng-click="hook(script)" class="button-primary-outlined button-small button-round">Hook</button>
                      <button ng-click="remove(script)" class="button-danger-outlined button-small button-round">Remove</button>
                    </td>
                  </tr>
                  <tr ng-if="scripts.length == 0">
                    <td colspan="2" class="align-center"><strong> No Scripts </strong></td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
          <div class="col col-lg-6">
            <section>
              <h1 class="h2">Console:</h1>
              <button class="button-info button-small" ng-click="clear()"> Clear </button>
              <pre class="language-html">
                <code class="language-html" ng-bind="console">
                </code>
              </pre>
            </section>
          </div>
        </div>
      </div>
    </main>
    <script src="https://unpkg.com/fpmc-jssdk@1.0.4/dist/fpmc-latest.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.7.0/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>
    <script>
    const { init, Func } = fpmc;
    init({ appkey: '123123', masterKey: '123123', endpoint: '/api', v: '0.0.1' });
    angular.module('app',[])
      .controller('MainCtl', function($scope){
        $scope.scripts = [];
        $scope.console = 'None';
        $scope.editor = {};

        const editorReset = function(){
          $scope.editor.isCreate = false,
          $scope.editor.visible = false;
          $scope.editor.title = '';
          $scope.editor.content = '#! /bin/sh\n';
        }

        editorReset();

        const fetch = function(){
          const func = new Func('scripts.list');
          func.invoke().then(function(data){
            $scope.scripts = data;
            $scope.$apply();
          }).catch(console.error);
        }

        fetch();

        $scope.clear = function(){
          $scope.console = 'None';
        }

        $scope.close = function(){
          $scope.editor.visible = false;
          $scope.editor.title = '';
          $scope.editor.content = '#! /bin/sh\n'
        }
        $scope.save = function(){
          if(!confirm('Are you sure?'))
            return;
          new Func('scripts.save')
            .invoke($scope.editor)
            .then(function(data){
              if(data == 1){
                fetch();
              }
              editorReset();
              $scope.$apply();
            }).catch(function(e){
              $scope.console = e.message;
            });
        }

        $scope.create = function(){
          $scope.editor.isCreate = true;
          $scope.editor.visible = true;
        }
        $scope.edit = function(script){
          $scope.editor.visible = true;
          $scope.editor.isCreate = false;
          $scope.editor.title = script;
          new Func('scripts.get')
            .invoke({ script })
            .then(function(data){
              $scope.editor.content = data;
              $scope.$apply();
            }).catch(function(e){
              $scope.console = e.message;
            });
        }
        $scope.run = function(script){
          new Func('scripts.run')
            .invoke({ script })
            .then(function(data){
              $scope.console = data.data;
              $scope.$apply();
            }).catch(function(e){
              $scope.console = e.message;
            });
        }
        $scope.remove = function(script){
          if(!confirm('Are you sure to Delete this script?'))
            return;
          new Func('scripts.delete')
            .invoke({ script })
            .then(function(data){
              fetch();
              $scope.$apply();
            }).catch(function(e){
              $scope.console = e.message;
            });
        }
        $scope.hook = function(script){
          alert(`curl -H "Content-Type:application/json" -X POST -d {} http://${location.hostname}:${location.port}/webhook/run/scripts/${script.split('.')[0]}`)
        }
      });
    </script>
  </body>
</html>